# dependencies
node_modules/
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# env
.env
.env.local
.env.*.local

# misc
*.log
.DS_Store
Thumbs.db
*.pem

# debug
npm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
